*{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    border: 1px solid black;
    background-color: brown;

}
h1{
    text-align: center;
    color:whitesmoke;
    padding: 5px;
}
p{
    margin-top: 7px;
    text-align: center;
    color: whitesmoke;
}